astroid==2.2.5
autopep8==1.4.4
certifi==2019.6.16
chardet==3.0.4
idna==2.8
isort==4.3.21
lazy-object-proxy==1.4.2
mccabe==0.6.1
multitasking==0.0.9
numpy==1.22.0
oauthlib==3.1.0
pandas==0.25.1
pycodestyle==2.5.0
pylint==2.3.1
PySocks==1.7.0
python-dateutil==2.8.0
pytz==2019.2
requests==2.22.0
requests-oauthlib==1.2.0
simplejson==3.16.0
six==1.12.0
tweepy==3.8.0
typed-ast==1.4.0
urllib3==1.25.3
wrapt==1.11.2
yahoo-finance==1.4.0
yfinance==0.1.45
appdirs==1.4.3
attrs==19.1.0
black==19.3b0
certifi==2019.6.16
chardet==3.0.4
Click==7.0
cssselect==1.1.0
idna==2.8
Jinja2==2.10.1
lxml==4.4.1
MarkupSafe==1.1.1
multitasking==0.0.9
nltk==3.4.5
numpy==1.22.0
pandas==0.25.1
pyquery==1.4.0
python-dateutil==2.8.0
pytz==2019.2
requests==2.22.0
six==1.12.0
textblob==0.15.3
toml==0.10.0
urllib3==1.25.3
yfinance==0.1.45
appdirs==1.4.3
attrs==19.1.0
black==19.3b0
certifi==2019.6.16
chardet==3.0.4
Click==7.0
cssselect==1.1.0
GetOldTweets3==0.0.10
idna==2.8
lxml==4.4.1
nltk==3.4.5
numpy==1.22.0
oauthlib==3.1.0
pyquery==1.4.0
PySocks==1.7.0
requests==2.22.0
requests-oauthlib==1.2.0
six==1.12.0
textblob==0.15.3
toml==0.10.0
tweepy==3.8.0
twitter-sentiment==0.0.6.1
urllib3==1.25.3
