<div class="container">
    <div class="row justify-content-center">
        <div align="center" class="col-auto">
            <h1>INTEL STOCK PRICE PREDICTION</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div align="center">
            <img src="images/wolf.png" width="70" height="70">
        </div>
    </div>
    <div class="row justify-content-center">
            <div align="center">
                <h5><span id="datetime"></span></h5>
                <script>
                    let dt = new Date()
                    document.getElementById("datetime").innerHTML = dt.toDateString();
                </script>
            </div>
    </div>
    <div class="row justify-content-center">
            <div align="center">
                <h4>Prediction for the next market day: </h4>
                    <h5 class="increase"> • Chances for increase: {{database.predictions[-1].prediction.increase}} </h5>
                     <h5 class="decrease"> • Chances for decrease: {{database.predictions[-1].prediction.decrease}}</h5>
            </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto">
            <canvas id='bar_chart' data='{{ database.predictions|tojson }}' style="width: 40vw"></canvas>
        </div>
        <div class="col-auto">
            <canvas id="line_trend_bin" data='{{ database.predictions|tojson }}' style="width: 40vw"></canvas>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto">
            <h5>History of increase predictions</h5>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto">
            <canvas id="line_trend_increase" data='{{ database.predictions|tojson }}' style="width: 50vw"></canvas>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto">
            <h5>History of decrease predictions</h5>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-auto">
            <canvas id="line_trend_decrease" data='{{ database.predictions|tojson }}' style="width: 50vw"></canvas>
        </div>
    </div>
</div>
